body {
    font-family: 'PT Sans', sans-serif;
}

body.home-page {
    background-image: url(animal-ocean-reptile-135230.jpg);
    background-size: 100vw 100vh;
    opacity: 0.85;
    color: darkslategray;
}

body.wishes-page {
    background-image: url(cool-chemistry-wallpapers.jpg);
    background-size: 100vw 100vh;
    opacity: 0.85;
    color: darkslategray;
}

body.turneyes-page {
    background-image: url(abstract-aqua-blue-261403.jpg);
    background-size: 100vw 100vh;
    opacity: 0.7;
    color: darkslategray;
}




header {
    margin: 50px;
}

features {
    padding: 50px;
}

i {
    margin-right: 5px;
}
nav {
    opacity: 0.5;
}
h5 {
    margin: 0px auto;
}
